In [7]:
import pandas as pd
import duckdb

In [8]:
con = duckdb.connect(database='NHTSA.duckdb')

In [9]:
query = """SELECT * FROM read_csv('FLAT_CMPL.txt', delim='\t');"""

In [10]:
results = duckdb.sql(query).df()

In [11]:
results.head()

,column00,column01,column02,column03,column04,column05,column06,column07,column08,column09,...,column39,column40,column41,column42,column43,column44,column45,column46,column47,column48
0,1,958241,"Volvo Car USA, LLC",VOLVO,760,1987,N,<NA>,N,0,...,None,None,None,None,None,None,V,None,N,N
1,2,958130,Ford Motor Company,FORD,THUNDERBIRD,1992,N,19941222,N,0,...,None,None,None,None,None,None,V,None,N,N
2,3,958132,"Kia America, Inc.",KIA,SEPHIA,1994,Y,19941230,N,0,...,None,None,None,None,None,None,V,None,N,N
3,4,958133,"Chrysler (FCA US, LLC)",DODGE,600,1987,N,19941231,N,0,...,None,None,None,None,None,None,V,None,N,N
4,5,958137,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1991,N,19941218,N,0,...,None,None,None,None,None,None,V,None,N,N